/* GLOBAL STYLESM, */
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: Open Sans;
}
.title{
    font-family: Roboto Condensed;
}
a{
    text-decoration: none;
}
.container{
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 100px;
    padding-right: 100px;
}
.site-button{
    padding: 12px 24px 12px 24px;
    color: #FFFFFF;
    background-color: #DE2E54;
    border: 2px solid #DE2E54;
    border-radius: 8px;
    font-family:  Roboto Condensed;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 22.5px;
    letter-spacing: 2px;
    transition: 0.4s;
}
.site-button:hover{
    color: #DE2E54;
    background-color:#FFFFFF;
    border: 2px solid #DE2E54;
}
.site-button:active{
    opacity: 0.6; 
    color: #FFFFFF;
    background-color: #DE2E54;

}
.fonts-class{
    height: 21px;
}
/* Header section */
.header{
    height: 100px;
    padding-top: 24px;
    padding-bottom: 24px;
}
.class-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo-img{
    color: #222222;
    transition: 0.4s;
}
.header-logo-img:hover{
    color: #DE2E54;
}
.header-logo-img:active{
    opacity: 0.6;
}
.navigation-list{
    width: 497px;
    display: flex;
    justify-content: space-between;
}
.navigation-list-item{
    list-style: none;
}
.site-navigation-link{
    color: #222222;
    text-transform: uppercase;
    transition: 0.4s;
}
.site-navigation-link:hover{
    color: #DE2E54;
}
.site-navigation-link:active{
    color: #DE2E54;
    opacity: 0.6;
}
/* Hero section */
.hero{
    background-color: #0EB4C1;
}
.hero-container{
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.hero-info-wrapper{
    padding-bottom: 120px;
}
.hero-title{
    margin: 0;
    margin-bottom: 16px;
    color: #FFFFFF;
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
}
.hero-paragraph{
    margin-bottom: 36px;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
}
.hero-button{
    padding: 12px 24px 12px 24px;
    color: #FFFFFF;
    background-color: #DE2E54;
    border: 2px solid #DE2E54;
    border-radius: 8px;
    font-family:  Roboto Condensed;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 22.5px;
    letter-spacing: 2px;
    transition: 0.4s;
}
.hero-button:hover{
    opacity: 0.6;
}
.hero-button:active{
    opacity: 0.8;
}
.hero-img{
    width: 423px;
    height: 504px;
}
/* Services section */
.services{
    margin-top: 120px;
}
.services-section{
    width: 864px;
    margin-bottom: 80px;
    padding-left: 118px;
    padding-right: 118px;
    display: flex;
}
.services-image{
    margin-right: 64px;
}
.services-section-title{
    text-align: center;
    margin-bottom: 56px;
    font-weight: 700;
    font-size: 36px;
}
.services-section-paragraph{
    width: 600px;
    height: 96px;
}
.services-section-button{
    display: flex;
    margin-top: 60px;
    margin-bottom: 0;
    justify-content: center;
    align-items: center;
}
.services-section-information{
    width: 600px;
    margin-top: auto;
    margin-bottom: auto;
}
/* CTA Section */
.cta-section{
    height: 253px;
    margin-top: 120px;
    background-color: #0EB4C1;
}
.cta-container{
    width: 800px;
}
.cta-title{
    color: #FFFFFF;
    padding-top: 60px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
}
.link-button{
    display: flex;
    justify-content: space-between;
}
.cta-button{
    font-family:  Roboto Condensed;
    color: #FFFFFF;
    font-family: Roboto Condensend;
    padding: 12px 24px 12px 24px;
    border: 2px solid #FFFFFF;
    border-radius: 8px;
    transition: 0.4s;
}
.cta-button:hover{
    background-color: #DE2E54;
    border: 0;
}
.cta-button:active{
    opacity: 0.6;
}
/* Footer section */
.footer{
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: #222222;
}
.footer-logo{
    color: #FFFFFF;
    transition: 0.4s;
}
.footer-logo:hover{
    color: #DE2E54;
}
.footer-logo:active{
    color:#FFFFFF;
    opacity: 0.6;
}
.footer-navigation{
    width: 497px;
    padding-left: 0;
}
.footer-navigation-list{
    display: flex;
}
.footer-list-item{
    list-style: none;
    margin-right: 32px;
}
.footer-list-item:last-child{
    margin-right: 0;
}
.site-footer-link{
    color: #FFFFFF;
    transition: 0.4s;
}
.site-footer-link:hover{
    color: #DE2E54;
}
.site-footer-link:active{
    color: #FFFFFF;
    opacity: 0.6;
}